<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="component-circle">
  <template>
    <style>
      :host {
        display: inline-block;
        --circle-backgroud: #F4F4F4;
        --circle-pressed-backgroud: #004581;
        --circle-color: #004581;
        --circle-pressed-color: #F4F4F4;
        --circle-size : 70px;
        --circle-disabled: #000000;
        margin: 5px;
      }
      .circle {
        display: flex;
        background-color: var(--circle-backgroud);
        color: var(--circle-color);
        height: var(--circle-size);
        width: var(--circle-size);
        border-radius: 35px;
        
      }
      :host([pressed]) .circle {
        display: flex;
        background-color: var(--circle-pressed-backgroud);
        color: var(--circle-pressed-color);
        height: var(--circle-size);
        width: var(--circle-size);
        border-radius: 35px;  
      }
      .circle, .amount {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
      }
      
      
    </style>
    <div class="circle" >
      <div class="amount">$[[amount]]</div>
    </div>
  </template>
  <script>
    /**
     * `component-circle`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentCircle extends Polymer.Element {
      static get is() {
        return 'component-circle';
      }
      static get properties() {
        return {
          pressed: {
            type: Boolean,
            notify: true,
            reflectToAttribute: true,
          }
        };
      }
    }

    window.customElements.define(ComponentCircle.is, ComponentCircle);
    </script>
</dom-module>