<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<dom-module id="component-circle">
    <template>
    <style>
      :host {
        display: inline-block;
        --amount-color: #F4F4F4;;
        --amount-pressed-color: #004581;
        --amount-text: #004581;
        --amount-pressed-text: #F4F4F4;
        --amount-text-disabled: #bebcbc;
      }
      .circle::after {
        content: "";
        display: block;
        width: 70px;
        height:70px;
        background: var(--amount-color);
        -moz-border-radius: 50%; 
        -webkit-border-radius: 50%; 
        border-radius: 50%;
      }
      .amount {
        float:left;
        width:100%;
        padding-top:50%;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
        color:var(--amount-text);
      }
      :host([pressed]) .circle::after {
        content: "";
        display: block;
        width: 70px;
        height:70px;
        background: var(--amount-pressed-color);
        -moz-border-radius: 50%; 
        -webkit-border-radius: 50%; 
        border-radius: 50%;
      } 
      :host([pressed]) .amount {
        float:left;
        width:100%;
        padding-top:50%;
        line-height:1em;
        margin-top:-0.5em;
        text-align:center;
        color:var(--amount-pressed-text);
      }
      .disabled {
        color: var(--amount-text-disabled);
      }
    </style>
    <template is="dom-if" if="{{active}}">
      <div class="circle">
        <div class="amount">$[[amount]]</div>
      </div>
    </template>

    <template is="dom-if" if="{{!active}}">
      <div class="circle">
        <div class="amount disabled">$[[amount]]</div>
      </div>
    </template>



    </template>

    <script>
        /**
         * `component-circle`
         * 
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class ComponentCircle extends Polymer.Element {
            static get is() {
                return 'component-circle';
            }
            static get properties() {
                return {
                    pressed: {
                        type: Boolean,
                        notify: true,
                        reflectToAttribute: true,
                    }
                };
            }
        }

        window.customElements.define(ComponentCircle.is, ComponentCircle);
    </script>
</dom-module>