<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<link rel="import" href="components/component-circle.html">

<dom-module id="pyramid-circle">
  <template>
    <style>

      .pyramid .block{
        text-align: center;
        float: left;
        height: 50px;
        margin: 1%;
        margin-bottom: 5px;
        width: 18%;
      }

      .pyramid .row1 .block:first-child {
          margin-left: 40%;
      }
      .pyramid .row2 .block:first-child {
          margin-left: 30%;
      }
      .pyramid .row3 .block:first-child {
          margin-left: 20%;
      }
      .pyramid .row4 .block:first-child {
          margin-left: 10%;
      }

    </style>
    <h2>Piramide</h2>

          <div class="pyramid">
            <div class="row row1">
              <dom-repeat items="[[dataAmounts]]" filter="getRow1" as="item">
                <template>
                  <div class="block">
                    <template is="dom-if" if="{{isActive(item)}}">
                      <component-circle amount="[[item.amount]]" active="[[item.active]]" pressed="[[item.pressed]]" id$='[[item.amount]]' on-click="select"></component-circle>
                    </template>
                    <template is="dom-if" if="{{isNoActive(item)}}">
                      <component-circle amount="[[item.amount]]" active="[[item.active]]"></component-circle>
                    </template>
                  </div>
                </template>
              </dom-repeat>
            </div>
            <div class="row row2">
              <dom-repeat items="[[dataAmounts]]" filter="getRow2" as="item">
                <template>
                  <div class="block">
                    <template is="dom-if" if="{{isActive(item)}}">
                      <component-circle amount="[[item.amount]]" active="[[item.active]]" pressed="[[item.pressed]]" id$='[[item.amount]]' on-click="select"></component-circle>
                    </template>
                    <template is="dom-if" if="{{isNoActive(item)}}">
                      <component-circle amount="[[item.amount]]" active="[[item.active]]"></component-circle>
                    </template>
                  </div>
                </template>
              </dom-repeat>
            </div>
            <div class="row row3">
              <dom-repeat items="[[dataAmounts]]" filter="getRow3" as="item">
                <template>
                  <div class="block">
                    <template is="dom-if" if="{{isActive(item)}}">
                      <component-circle amount="[[item.amount]]" active="[[item.active]]" pressed="[[item.pressed]]" id$='[[item.amount]]' on-click="select"></component-circle>
                    </template>
                    <template is="dom-if" if="{{isNoActive(item)}}">
                      <component-circle amount="[[item.amount]]" active="[[item.active]]"></component-circle>
                    </template>
                  </div>
                </template>
              </dom-repeat>
            </div>
          </div>
        </section><!--End Section pyramid-->

        
   

    

    
  </template>

  <script>
    /**
    * @customElement
    * @polymer
    */
    class PyramidCircle extends Polymer.Element {

      static get is() {
        return 'pyramid-circle';
      }
      
      static get properties() {   
        return {
          dataAmounts: {
            type: Array,
            value: [{
              id: 0,
              amount: 25,
              active: false,
              pressed: false,
              row: 1
            }, {
              id: 1,
              amount: 50,
              active: false,
              pressed: false,
              row: 2
            }, {
              id: 2,
              amount: 100,
              active: false,
              pressed: false,
              row: 2
            }, {
              id: 3,
              amount: 200,
              active: false,
              pressed: false,
              row: 3
            }, {
              id: 4,
              amount: 300,
              active: false,
              pressed: false,
              row: 3
            }, {
              id: 5 ,
              amount: 500,
              active: false,
              pressed: false,
              row: 3
            }]
          },
          amount: {
            type: String,
            value: 0
          },
          accountBalance: {
            type: String,
            value: 10
          },
          inputAmount: {
            type: String,
            observer: '_desPressedAmounts'
          },
          alertsAmount: {
            type: Array,
            value: [
              {
                msg: 'La cuenta seleccionada no permite realizar una donación mayor a $',
                icon: 'report-problem'
              },
              {
                msg: 'Puedes donar entre $25 y $10,000',
                icon: 'help'
              }
            ]
          }
        };
      }

      ready() {
        super.ready();
        this.dataAmounts.forEach(data => {
          data.active = (this.accountBalance >= data.amount) ? true : false;
        });
      }

      isActive(item) {
        return item.active == true;
      }

      isNoActive(item) {
        return item.active == false;
      }

      _desPressedAmounts() {

        this.set(`alertsAmount.1.msg`, `Puedes donar entre $25 y $10,000`);
        this.set(`alertsAmount.1.icon`, 'help');

        const keysDataAmounts = Object.keys(this.dataAmounts);

        keysDataAmounts.forEach(data => {
          this.set(`dataAmounts.${data}.pressed`, false);
        });
        this.set('amount', this.inputAmount);
      }

      getAlertSendAmount() {
        if(this.alertsAmount[1].icon == 'help'){
          return true;
        }
      }

      select(e) {

        this.set('inputAmount', '');
        const key = e.target.id;
        this.set('amount', key);

        const keysDataAmounts = Object.keys(this.dataAmounts);

        keysDataAmounts.forEach(data => {
          if (this.dataAmounts[data].amount == key) {
            this.set(`dataAmounts.${data}.pressed`, true);
          } else {
            this.set(`dataAmounts.${data}.pressed`, false);
          }
        });

      }

      sendAmount() {
        if(this.amount <= this.accountBalance) {
          console.log(this.amount);
        } else {
          this.set(`alertsAmount.1.msg`, `Saldo insuficiente. Ingresa un importe menor o igual a tu saldo de $${this.accountBalance}`);
          this.set(`alertsAmount.1.icon`, 'report-problem');
        }
      }

      getAlertMinAmount(accountBalance) {
        if (accountBalance < this.dataAmounts[3].amount) {
          return true;
        } else {
          return false;
        }
      }

      getRow1(item){
        return (item.row == 1) ? true : false;
      }
      getRow2(item){
        return (item.row == 2) ? true : false;
      }
      getRow3(item){
        return (item.row == 3) ? true : false;
      }
    }

    window.customElements.define(PyramidCircle.is, PyramidCircle);
  </script>
</dom-module>